[submodule "third_party/libpixel"]
	path = third_party/libpixel
	url = https://github.com/modeco80/libpixel.git
[submodule "third_party/indicators"]
	path = third_party/indicators
	url = https://github.com/p-ranav/indicators
